.DS_Store
*~
*#
*.o
*.so
*.swp
*.dylib
*.dSYM
*.dll
*.rlib
*.dummy
*.exe
*-test
/bin/main
/bin/test-internal
/bin/test-external
/doc/
/target/
/build/
/.rust/
rusti.sh

examples/font_with_piston
examples/single_glphy
examples/single_glphy_ffi
